In [1]:
import os
from pathlib import Path
import alpaca_trade_api as tradeapi
import pandas as pd
import numpy as np
import datetime
import time
from dotenv import load_dotenv
import yfinance as yf

In [2]:
# Load .env enviroment variables
# YOUR CODE HERE
load_dotenv('key.env')

True

In [3]:
# Set Alpaca API key and secret
# YOUR CODE HERE
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
alpaca_api_base_url = "https://paper-api.alpaca.markets"
#PKPOTQ9DJW12ODHW8FMR

In [4]:
# Create the Alpaca API object, specifying use of the paper trading account:
# YOUR CODE HERE
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    alpaca_api_base_url,
    api_version="v2")

In [5]:
JPM C GS WF MS BAC

SyntaxError: invalid syntax (<ipython-input-5-4e3b3d3eca76>, line 1)

In [6]:
stock = input(f"tickers list or string as well:")
year = input(f"valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max ")
day = input(f"valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo:")
data = yf.download( # or pdr.get_data_yahoo(...
    # tickers list or string as well
    tickers = stock,

    # use "period" instead of start/end
    # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
    # (optional, default is '1mo')
    period = year,

    # fetch data by interval (including intraday if period < 60 days)
    # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
    # (optional, default is '1d')
    interval = day,

    # group by ticker (to access via data['SPY'])
    # (optional, default is 'column')
    group_by = 'ticker',

    # adjust all OHLC automatically
    # (optional, default is False)
    auto_adjust = True,

    # download pre/post regular market hours data
    # (optional, default is False)
    prepost = True,

    # use threads for mass downloading? (True/False/Integer)
    # (optional, default is True)
    threads = True,

    # proxy URL scheme use use when downloading?
    # (optional, default is None)
    proxy = None
    )

tickers list or string as well: JPM C GS WF MS MSFT BAC
valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max  5y
valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo: 1d

[*********************100%***********************]  7 of 7 completed

In [7]:
ticker_list = stock.split()

In [8]:
# Create an empty DataFrame for closing prices
# YOUR CODE HERE
df_closing_prices = pd.DataFrame()

for i in ticker_list:
    df_closing_prices[i] = data[i]['Close']
#df_closing_prices[i] = data[i]['Close']
# Fetch the closing prices for each one of the tickers and store in a column in df_closing_prices amed after that ticker
# YOUR CODE HERE
df_closing_prices

,JPM,C,GS,WF,MS,MSFT,BAC
Date,,,,,,,
2016-04-14,54.430847,39.877422,147.736786,25.389999,23.143986,50.763554,12.800245
2016-04-15,53.804703,39.824215,145.542435,25.600000,22.781385,51.029476,12.673509
2016-04-18,54.152561,39.992668,146.001480,26.040001,22.754854,51.772221,12.827400
2016-04-19,55.065689,40.453678,149.334290,26.700001,23.400446,51.708035,13.080872
2016-04-20,55.865761,41.437752,153.309814,26.930000,24.240601,50.974457,13.515391
...,...,...,...,...,...,...,...
2021-04-07,154.929993,72.690002,326.549988,28.540001,79.040001,249.899994,40.049999
2021-04-08,155.119995,72.330002,331.140015,28.330000,80.199997,253.250000,39.700001
2021-04-09,156.279999,72.419998,330.809998,26.980000,80.720001,255.850006,39.990002
2021-04-12,155.949997,72.690002,331.839996,27.790001,80.180000,255.910004,40.060001
2021-04-13,154.089996,72.059998,327.679993,27.459999,79.529999,258.489990,39.320000

In [9]:
close_price = data.iloc[:, data.columns.get_level_values(1)=='Close']
close_price

,MS,MSFT,WF,GS,C,BAC,JPM
,Close,Close,Close,Close,Close,Close,Close
Date,,,,,,,
2016-04-14,23.143986,50.763554,25.389999,147.736786,39.877422,12.800245,54.430847
2016-04-15,22.781385,51.029476,25.600000,145.542435,39.824215,12.673509,53.804703
2016-04-18,22.754854,51.772221,26.040001,146.001480,39.992668,12.827400,54.152561
2016-04-19,23.400446,51.708035,26.700001,149.334290,40.453678,13.080872,55.065689
2016-04-20,24.240601,50.974457,26.930000,153.309814,41.437752,13.515391,55.865761
...,...,...,...,...,...,...,...
2021-04-07,79.040001,249.899994,28.540001,326.549988,72.690002,40.049999,154.929993
2021-04-08,80.199997,253.250000,28.330000,331.140015,72.330002,39.700001,155.119995
2021-04-09,80.720001,255.850006,26.980000,330.809998,72.419998,39.990002,156.279999
2021-04-12,80.180000,255.910004,27.790001,331.839996,72.690002,40.060001,155.949997
2021-04-13,79.529999,258.489990,27.459999,327.679993,72.059998,39.320000,154.089996

In [10]:
open_price = data.iloc[:, data.columns.get_level_values(1)=='Open']
open_price

,MS,MSFT,WF,GS,C,BAC,JPM
,Open,Open,Open,Open,Open,Open,Open
Date,,,,,,,
2016-04-14,22.763706,50.635178,25.120001,146.469758,39.132713,12.410987,53.648169
2016-04-15,23.267789,50.708534,25.580000,148.030567,41.180652,12.917927,54.683042
2016-04-18,23.152822,50.882760,25.760000,144.706910,39.380940,12.537720,53.604686
2016-04-19,22.869825,51.928109,26.940001,144.835445,40.267498,12.908874,54.396065
2016-04-20,23.418136,51.616338,26.700001,148.737517,40.551193,13.180449,55.204835
...,...,...,...,...,...,...,...
2021-04-07,79.040001,247.809998,28.330000,327.700012,72.919998,39.770000,153.100006
2021-04-08,78.500000,252.770004,28.709999,324.290009,72.150002,39.799999,154.000000
2021-04-09,80.480003,252.869995,27.790001,334.000000,72.809998,39.910000,155.809998
2021-04-12,80.949997,254.710007,27.770000,332.670013,72.620003,39.990002,155.580002
2021-04-13,80.949997,257.257294,27.500000,329.510010,72.300003,39.810001,154.750000

In [11]:
close_price.dropna()

,MS,MSFT,WF,GS,C,BAC,JPM
,Close,Close,Close,Close,Close,Close,Close
Date,,,,,,,
2016-04-14,23.143986,50.763554,25.389999,147.736786,39.877422,12.800245,54.430847
2016-04-15,22.781385,51.029476,25.600000,145.542435,39.824215,12.673509,53.804703
2016-04-18,22.754854,51.772221,26.040001,146.001480,39.992668,12.827400,54.152561
2016-04-19,23.400446,51.708035,26.700001,149.334290,40.453678,13.080872,55.065689
2016-04-20,24.240601,50.974457,26.930000,153.309814,41.437752,13.515391,55.865761
...,...,...,...,...,...,...,...
2021-04-07,79.040001,249.899994,28.540001,326.549988,72.690002,40.049999,154.929993
2021-04-08,80.199997,253.250000,28.330000,331.140015,72.330002,39.700001,155.119995
2021-04-09,80.720001,255.850006,26.980000,330.809998,72.419998,39.990002,156.279999
2021-04-12,80.180000,255.910004,27.790001,331.839996,72.690002,40.060001,155.949997
2021-04-13,79.529999,258.489990,27.459999,327.679993,72.059998,39.320000,154.089996

In [12]:
# Define a variable to set prediction period
# YOUR CODE HERE
forecast = 1
# Compute the pct_change for 1 min 
# YOUR CODE HERE
forecast_df = df_closing_prices.pct_change()
# Shift the returns to convert them to forward returns
# YOUR CODE HERE
forecast_df = forecast_df.shift(-(forecast))
# Preview the DataFrame
# YOUR CODE HERE
forecast_df.head()

,JPM,C,GS,WF,MS,MSFT,BAC
Date,,,,,,,
2016-04-14,-0.011503,-0.001334,-0.014853,0.008271,-0.015667,0.005238,-0.009901
2016-04-15,0.006465,0.004230,0.003154,0.017188,-0.001165,0.014555,0.012143
2016-04-18,0.016862,0.011527,0.022827,0.025346,0.028372,-0.001240,0.019760
2016-04-19,0.014529,0.024326,0.026622,0.008614,0.035903,-0.014187,0.033218
2016-04-20,-0.009963,-0.002995,-0.009941,0.017824,-0.005472,0.003418,-0.002009

In [13]:
# Use unstack() to bring the data in long format and save the output as as dataframe
unstack = pd.DataFrame(forecast_df.unstack())
# YOUR CODE HERE
# Rename the column to make it easer to identify it:
name = f'F_{forecast}_day_returns'
unstack.rename(columns={0: name}, inplace = True)
# Reset the index of the dataframe for merging later (be sure to set inplace=True)
# YOUR CODE HERE
unstack.reset_index(inplace=True,col_fill='FB')

In [14]:
unstacks = unstack.rename(columns={'time':'level_1'})

In [15]:
# Preview the first five rows
# YOUR CODE HERE
unstack.head()

  level_0       Date  F_1_day_returns
0     JPM 2016-04-14        -0.011503
1     JPM 2016-04-15         0.006465
2     JPM 2016-04-18         0.016862
3     JPM 2016-04-19         0.014529
4     JPM 2016-04-20        -0.009963

In [16]:
list_of_momentums = [1]

for i in list_of_momentums:  
    # Compute percentage change for each one of the momentums in the momentum list
    returns_temp = df_closing_prices.pct_change(i)
    # Unstack the returns 
    returns_temp = pd.DataFrame(returns_temp.unstack())
    name = f'{i}_day_returns'
    returns_temp.rename(columns={0: name}, inplace = True)
    # Reset the index so we can merge based on index
    returns_temp.reset_index(inplace = True)
    # Merge newly computed returns with previously created returns
    if i ==1:
        returns = returns_temp
    else:
        returns = pd.merge(returns,returns_temp,left_on=['level_0', 'Date'],right_on=['level_0', 'Date'], how='left', suffixes=('_original', 'right'))

In [17]:
returns.rename(columns = {'Date':'level_1'})

     level_0    level_1  1_day_returns
0        JPM 2016-04-14            NaN
1        JPM 2016-04-15      -0.011503
2        JPM 2016-04-18       0.006465
3        JPM 2016-04-19       0.016862
4        JPM 2016-04-20       0.014529
...      ...        ...            ...
8801     BAC 2021-04-07       0.009070
8802     BAC 2021-04-08      -0.008739
8803     BAC 2021-04-09       0.007305
8804     BAC 2021-04-12       0.001750
8805     BAC 2021-04-13      -0.018472

[8806 rows x 3 columns]

In [18]:
new_df = pd.merge(unstack,returns)
new_dfs= new_df.rename(columns={'Date': 'level_1'})

In [19]:
new_dfs.head(11)

   level_0    level_1  F_1_day_returns  1_day_returns
0      JPM 2016-04-14        -0.011503            NaN
1      JPM 2016-04-15         0.006465      -0.011503
2      JPM 2016-04-18         0.016862       0.006465
3      JPM 2016-04-19         0.014529       0.016862
4      JPM 2016-04-20        -0.009963       0.014529
5      JPM 2016-04-21         0.005818      -0.009963
6      JPM 2016-04-22        -0.005784       0.005818
7      JPM 2016-04-25         0.005189      -0.005784
8      JPM 2016-04-26         0.002816       0.005189
9      JPM 2016-04-27        -0.007955       0.002816
10     JPM 2016-04-28        -0.006289      -0.007955

In [20]:
# Use dropna() to get rid of those missing observations.
# YOUR CODE HERE
new = new_dfs.dropna()
# Create a multi index based on level_0 and time
# YOUR CODE HERE
newr = new.set_index(['level_0', 'level_1'])
newr

                    F_1_day_returns  1_day_returns
level_0 level_1
JPM     2016-04-15         0.006465      -0.011503
        2016-04-18         0.016862       0.006465
        2016-04-19         0.014529       0.016862
        2016-04-20        -0.009963       0.014529
        2016-04-21         0.005818      -0.009963
...                             ...            ...
BAC     2021-04-06         0.009070      -0.002764
        2021-04-07        -0.008739       0.009070
        2021-04-08         0.007305      -0.008739
        2021-04-09         0.001750       0.007305
        2021-04-12        -0.018472       0.001750

[8792 rows x 2 columns]

In [21]:
# Load the dataset returns.csv and set the index to level_0 and time
# YOUR CODE HERE
newr.head()

                    F_1_day_returns  1_day_returns
level_0 level_1
JPM     2016-04-15         0.006465      -0.011503
        2016-04-18         0.016862       0.006465
        2016-04-19         0.014529       0.016862
        2016-04-20        -0.009963       0.014529
        2016-04-21         0.005818      -0.009963

In [22]:
X = newr.drop(columns=['F_1_day_returns'])
X

                    1_day_returns
level_0 level_1
JPM     2016-04-15      -0.011503
        2016-04-18       0.006465
        2016-04-19       0.016862
        2016-04-20       0.014529
        2016-04-21      -0.009963
...                           ...
BAC     2021-04-06      -0.002764
        2021-04-07       0.009070
        2021-04-08      -0.008739
        2021-04-09       0.007305
        2021-04-12       0.001750

[8792 rows x 1 columns]

In [23]:
y = np.where(newr['F_1_day_returns']>0,1,0)

In [24]:
# Import train_test_split 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
#from sklearn.model_selection import Time_Series_Split

# Split the dataset without shuffling
# YOUR CODE HERE
X_train, X_test, y_train, y_test = train_test_split(X, y,train_size=0.7)
#X_train, X_test, y_train, y_test = Time_Series_Split(X, y,n_splits = 5)

In [25]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [26]:
# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

In [27]:
# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Import the Counter function from the collections library
from collections import Counter
# Use Counter to count the number 1s and 0 in y_train
# YOUR CODE HERE
Counter(y_train)

Counter({1: 3217, 0: 2937})

In [29]:
# Import RandomOverSampler from the imblearn library
from imblearn.over_sampling import RandomOverSampler

# Use RandomOverSampler to resample the datase using random_state=1
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

In [30]:
# Use Counter again to verify imbalance removed
# YOUR CODE HERE
Counter(y_resampled)

Counter({1: 3217, 0: 3217})

In [31]:
# Import classification_report from sklearn
from sklearn.metrics import classification_report


from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.ensemble import GradientBoostingClassifier

# Needed for decision tree visualization
import pydotplus
from IPython.display import Image

In [32]:
# Import LogisticRegression from sklearn
from sklearn.linear_model import LogisticRegression

# Create a LogisticRegression model and train it on the X_resampled data we created before
log_model = LogisticRegression()
log_model.fit(X_resampled, y_resampled)  

# Use the model you trained to predict using X_test
y_pred = log_model.predict(X_test)   

# Print out a classification report toevaluate performance
print(classification_report(y_test, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.4953    0.5121    0.5036      1236
           1     0.5566    0.5399    0.5482      1402

    accuracy                         0.5269      2638
   macro avg     0.5260    0.5260    0.5259      2638
weighted avg     0.5279    0.5269    0.5273      2638

In [33]:
# Import RandomForestClassifier from sklearn
from sklearn.ensemble import RandomForestClassifier

# Create a RandomForestClassifier model and train it on the X_resampled data we created before
# YOUR CODE HERE
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)
# Use the model you trained to predict using X_test
# YOUR CODE HERE  
rf_model = rf_model.fit(X_train_scaled, y_train)
# Print out a classification report to evaluate performance
# YOUR CODE HERE
predictions = rf_model.predict(X_test_scaled)

In [37]:
# Import RandomForestClassifier from sklearn
from sklearn.ensemble import GradientBoostingClassifier

# Create a GradientBoostingClassifier model and train it on the X_resampled data we created before
# YOUR CODE HERE
# Choose learning rate
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    model = GradientBoostingClassifier(
        n_estimators=100,
        learning_rate=learning_rate,
        max_features=1,
        max_depth=3,
        random_state=0)
    model.fit(X_train_scaled,y_train.ravel())
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        model.score(
            X_train_scaled,
            y_train.ravel())))
    print("Accuracy score (validation): {0:.3f}".format(
        model.score(
            X_test_scaled,
            y_test.ravel())))

Learning rate:  0.05
Accuracy score (training): 0.575
Accuracy score (validation): 0.528
Learning rate:  0.1
Accuracy score (training): 0.593
Accuracy score (validation): 0.529
Learning rate:  0.25
Accuracy score (training): 0.639
Accuracy score (validation): 0.528
Learning rate:  0.5
Accuracy score (training): 0.663
Accuracy score (validation): 0.530
Learning rate:  0.75
Accuracy score (training): 0.674
Accuracy score (validation): 0.532
Learning rate:  1
Accuracy score (training): 0.675
Accuracy score (validation): 0.532

In [39]:
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                        learning_rate=0.75,
                                        max_features=1,
                                        max_depth=3,
                                        random_state=0)

# Fit the model
classifier.fit(X_train_scaled, y_train.ravel())

# Make Prediction
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test.ravel()}).head(20)

    Prediction  Actual
0            1       1
1            1       1
2            1       1
3            1       0
4            0       1
5            0       0
6            1       0
7            1       0
8            0       0
9            1       1
10           0       0
11           0       1
12           0       0
13           0       0
14           0       1
15           1       0
16           1       1
17           1       1
18           1       0
19           1       1

In [40]:
# Make predictions
predictions = model.predict(X_test_scaled)

# Generate accuracy score for predictions using y_test
accuracy_score(y_test, predictions)

0.5322213798332069

In [41]:
# Generatring the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=[
        "Predicted 0",
        "Predicted 1"
    ]
)

display(cm_df)

          Predicted 0  Predicted 1
Actual 0          492          744
Actual 1          490          912

In [42]:
# Generate classification report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.50      0.40      0.44      1236
           1       0.55      0.65      0.60      1402

    accuracy                           0.53      2638
   macro avg       0.53      0.52      0.52      2638
weighted avg       0.53      0.53      0.52      2638

In [43]:
# Import RandomForestClassifier from sklearn
from sklearn.ensemble import AdaBoostClassifier

# Create a AdaBoostClassifier model and train it on the X_resampled data we created before
# YOUR CODE HERE
abc = AdaBoostClassifier(n_estimators=50,
                         learning_rate=1)
# Use the model you trained to predict using X_test
# YOUR CODE HERE
model = abc.fit(X_train, y_train)
# Print out a classification report to evaluate performance
# YOUR CODE HERE
y_pred = model.predict(X_test)

In [44]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5348749052312358

In [45]:
# Import RandomForestClassifier from sklearn
from xgboost import XGBClassifier

# Create a XGBClassifier model and train it on the X_resampled data we created before
# YOUR CODE HERE
# load data

# split data into X and y

# split data into train and test sets
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

C:\Users\hyunt\anaconda3\envs\alpacaenv\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[17:53:10] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy: 50.21%

In [46]:
# Import the joblib library 
import joblib

# Use the library to save the model that you want to use for trading
joblib.dump(abc, 'log_model.pkl')

['log_model.pkl']

In [47]:
# Create the list of tickers

ticker_list = ['JPM','C','GS','WF', 'MS', 'MSFT', 'BAC']
# Define Dates

beg_date = '2021-01-06'
end_date = '2021-04-06'

# Convert the date in a format the Alpaca API reqires
start =  pd.Timestamp(f'{beg_date} 09:30:00-0400', tz='America/New_York').replace(hour=9, minute=30, second=0).astimezone('GMT').isoformat()[:-6]+'Z'
end   =  pd.Timestamp(f'{end_date} 16:00:00-0400', tz='America/New_York').replace(hour=15, minute=0, second=0).astimezone('GMT').isoformat()[:-6]+'Z'
#timeframe='1Min'

# Use iloc to get the last 10 mins every time we pull new data

#prices = api.get_barset(ticker_list, "day", start=start, end=end).df.iloc[-11:]
prices = api.get_barset(ticker_list, "day", start=start, end=end).df
prices.ffill(inplace=True)   

# Create an empty DataFrame for closing prices
df_closing_prices = pd.DataFrame()

# Fetch the closing prices of our tickers
df_closing_prices["JPM"] = prices["JPM"]["close"]
df_closing_prices["C"] = prices["C"]["close"]
df_closing_prices["GS"] = prices["GS"]["close"]
df_closing_prices["WF"] = prices["WF"]["close"]
df_closing_prices["MS"] = prices["MS"]["close"]
df_closing_prices['MSFT'] = prices['MSFT']["close"]
df_closing_prices['BAC'] = prices['BAC']["close"]

print(df_closing_prices.head(20))

                              JPM       C      GS      WF     MS      MSFT  \
time
2021-01-06 00:00:00-05:00  131.61  65.260  285.32  26.950  73.69  212.2200
2021-01-07 00:00:00-05:00  135.87  66.030  291.65  27.550  74.94  218.2900
2021-01-08 00:00:00-05:00  136.04  65.360  290.08  27.560  75.25  219.5500
2021-01-11 00:00:00-05:00  138.11  66.450  293.82  26.840  76.06  217.5000
2021-01-12 00:00:00-05:00  140.19  66.660  302.00  26.810  75.80  214.9300
2021-01-13 00:00:00-05:00  140.35  66.870  302.94  27.960  75.55  216.4100
2021-01-14 00:00:00-05:00  141.12  69.020  307.83  27.980  76.47  213.0200
2021-01-15 00:00:00-05:00  138.88  64.250  301.16  27.030  75.22  212.5800
2021-01-19 00:00:00-05:00  138.01  63.690  294.39  27.210  74.99  216.4400
2021-01-20 00:00:00-05:00  135.95  63.230  290.46  26.910  74.82  224.1800
2021-01-21 00:00:00-05:00  134.84  61.875  289.55  26.720  74.71  224.9000
2021-01-22 00:00:00-05:00  133.76  61.330  289.28  25.940  74.13  225.8400
2021-01-25 00:00:00-05:00  132.11  60.560  283.13  25.890  72.39  229.5200
2021-01-26 00:00:00-05:00  131.56  60.910  281.76  25.755  71.22  232.5831
2021-01-27 00:00:00-05:00  127.95  59.420  273.58  24.950  68.45  233.0900
2021-01-28 00:00:00-05:00  130.10  60.340  275.07  24.850  69.34  238.9300
2021-01-29 00:00:00-05:00  128.59  58.010  271.18  23.710  67.05  231.8100
2021-02-01 00:00:00-05:00  129.60  58.410  274.62  24.500  67.66  239.5900
2021-02-02 00:00:00-05:00  133.61  59.570  286.90  24.490  70.94  239.4800
2021-02-03 00:00:00-05:00  135.11  61.100  288.54  24.680  70.58  242.9400

                              BAC
time
2021-01-06 00:00:00-05:00  32.150
2021-01-07 00:00:00-05:00  32.870
2021-01-08 00:00:00-05:00  32.530
2021-01-11 00:00:00-05:00  33.060
2021-01-12 00:00:00-05:00  33.650
2021-01-13 00:00:00-05:00  33.460
2021-01-14 00:00:00-05:00  33.980
2021-01-15 00:00:00-05:00  33.015
2021-01-19 00:00:00-05:00  32.770
2021-01-20 00:00:00-05:00  32.320
2021-01-21 00:00:00-05:00  31.770
2021-01-22 00:00:00-05:00  31.550
2021-01-25 00:00:00-05:00  31.160
2021-01-26 00:00:00-05:00  30.940
2021-01-27 00:00:00-05:00  29.835
2021-01-28 00:00:00-05:00  30.315
2021-01-29 00:00:00-05:00  29.600
2021-02-01 00:00:00-05:00  29.955
2021-02-02 00:00:00-05:00  31.030
2021-02-03 00:00:00-05:00  31.580

In [51]:
# Create list of momentums
list_of_momentums = [1]

for i in list_of_momentums:  
    # Compute percentage change for each one of the momentums in the momentum list
    returns_temp = df_closing_prices.pct_change(i)
    # Unstack the returns 
    returns_temp = pd.DataFrame(returns_temp.unstack())
    name = f'{i}_day_returns'
    returns_temp.rename(columns={0: name}, inplace = True)
    # Reset the index so we can merge based on index
    returns_temp.reset_index(inplace = True)
    # Merge newly computed returns with previously created returns
    if i ==1:
        returns = returns_temp
    else:
        returns = pd.merge(returns,returns_temp,left_on=['level_0', 'time'],right_on=['level_0', 'time'], how='left', suffixes=('_original', 'right'))

# Drop nulls and set index
returns.dropna(axis=0, how='any', inplace=True)
returns.set_index(['level_0', 'time'], inplace=True)

# Generate feature data and preview first 10 rows.
X = returns
X

                                   1_day_returns
level_0 time
JPM     2021-01-07 00:00:00-05:00       0.032368
        2021-01-08 00:00:00-05:00       0.001251
        2021-01-11 00:00:00-05:00       0.015216
        2021-01-12 00:00:00-05:00       0.015060
        2021-01-13 00:00:00-05:00       0.001141
...                                          ...
BAC     2021-03-30 00:00:00-04:00       0.018543
        2021-03-31 00:00:00-04:00      -0.006667
        2021-04-01 00:00:00-04:00       0.019360
        2021-04-05 00:00:00-04:00       0.007723
        2021-04-06 00:00:00-04:00      -0.002764

[427 rows x 1 columns]

In [52]:
# Load the previously trained and saved model using joblib
# YOUR CODE HERE
joblib_file = "log_model.pkl"
joblib.dump(model, joblib_file)

# Load from file
joblib_model = joblib.load(joblib_file)

# Calculate the accuracy and predictions
score = joblib_model.score(X_test, y_test)
print("Test score: {0:.2f} %".format(100 * score))
#Ypredict = pickle_model.predict(X_test)

Test score: 50.21 %

In [53]:
# Use the model file to predict on X
# YOUR CODE HERE
y_preds = joblib_model.predict(X)
# Convert y_pred to a dataframe, set the index to the index of X
# YOUR CODE HERE
y_predes = pd.DataFrame(y_preds,X.index)
# Rename the column 0 to 'buy', be sure to set inplace =True
# YOUR CODE HERE
y_predes.rename(columns={0: 'buy'}, inplace = True)

In [54]:
# Filter the stocks where 'buy' is equal to 1
# YOUR CODE HERE
y_predes.filter(items=['buy'=='1'])

Empty DataFrame
Columns: []
Index: [(JPM, 2021-01-07 00:00:00-05:00), (JPM, 2021-01-08 00:00:00-05:00), (JPM, 2021-01-11 00:00:00-05:00), (JPM, 2021-01-12 00:00:00-05:00), (JPM, 2021-01-13 00:00:00-05:00), (JPM, 2021-01-14 00:00:00-05:00), (JPM, 2021-01-15 00:00:00-05:00), (JPM, 2021-01-19 00:00:00-05:00), (JPM, 2021-01-20 00:00:00-05:00), (JPM, 2021-01-21 00:00:00-05:00), (JPM, 2021-01-22 00:00:00-05:00), (JPM, 2021-01-25 00:00:00-05:00), (JPM, 2021-01-26 00:00:00-05:00), (JPM, 2021-01-27 00:00:00-05:00), (JPM, 2021-01-28 00:00:00-05:00), (JPM, 2021-01-29 00:00:00-05:00), (JPM, 2021-02-01 00:00:00-05:00), (JPM, 2021-02-02 00:00:00-05:00), (JPM, 2021-02-03 00:00:00-05:00), (JPM, 2021-02-04 00:00:00-05:00), (JPM, 2021-02-05 00:00:00-05:00), (JPM, 2021-02-08 00:00:00-05:00), (JPM, 2021-02-09 00:00:00-05:00), (JPM, 2021-02-10 00:00:00-05:00), (JPM, 2021-02-11 00:00:00-05:00), (JPM, 2021-02-12 00:00:00-05:00), (JPM, 2021-02-16 00:00:00-05:00), (JPM, 2021-02-17 00:00:00-05:00), (JPM, 2021-02-18 00:00:00-05:00), (JPM, 2021-02-19 00:00:00-05:00), (JPM, 2021-02-22 00:00:00-05:00), (JPM, 2021-02-23 00:00:00-05:00), (JPM, 2021-02-24 00:00:00-05:00), (JPM, 2021-02-25 00:00:00-05:00), (JPM, 2021-02-26 00:00:00-05:00), (JPM, 2021-03-01 00:00:00-05:00), (JPM, 2021-03-02 00:00:00-05:00), (JPM, 2021-03-03 00:00:00-05:00), (JPM, 2021-03-04 00:00:00-05:00), (JPM, 2021-03-05 00:00:00-05:00), (JPM, 2021-03-08 00:00:00-05:00), (JPM, 2021-03-09 00:00:00-05:00), (JPM, 2021-03-10 00:00:00-05:00), (JPM, 2021-03-11 00:00:00-05:00), (JPM, 2021-03-12 00:00:00-05:00), (JPM, 2021-03-15 00:00:00-04:00), (JPM, 2021-03-16 00:00:00-04:00), (JPM, 2021-03-17 00:00:00-04:00), (JPM, 2021-03-18 00:00:00-04:00), (JPM, 2021-03-19 00:00:00-04:00), (JPM, 2021-03-22 00:00:00-04:00), (JPM, 2021-03-23 00:00:00-04:00), (JPM, 2021-03-24 00:00:00-04:00), (JPM, 2021-03-25 00:00:00-04:00), (JPM, 2021-03-26 00:00:00-04:00), (JPM, 2021-03-29 00:00:00-04:00), (JPM, 2021-03-30 00:00:00-04:00), (JPM, 2021-03-31 00:00:00-04:00), (JPM, 2021-04-01 00:00:00-04:00), (JPM, 2021-04-05 00:00:00-04:00), (JPM, 2021-04-06 00:00:00-04:00), (C, 2021-01-07 00:00:00-05:00), (C, 2021-01-08 00:00:00-05:00), (C, 2021-01-11 00:00:00-05:00), (C, 2021-01-12 00:00:00-05:00), (C, 2021-01-13 00:00:00-05:00), (C, 2021-01-14 00:00:00-05:00), (C, 2021-01-15 00:00:00-05:00), (C, 2021-01-19 00:00:00-05:00), (C, 2021-01-20 00:00:00-05:00), (C, 2021-01-21 00:00:00-05:00), (C, 2021-01-22 00:00:00-05:00), (C, 2021-01-25 00:00:00-05:00), (C, 2021-01-26 00:00:00-05:00), (C, 2021-01-27 00:00:00-05:00), (C, 2021-01-28 00:00:00-05:00), (C, 2021-01-29 00:00:00-05:00), (C, 2021-02-01 00:00:00-05:00), (C, 2021-02-02 00:00:00-05:00), (C, 2021-02-03 00:00:00-05:00), (C, 2021-02-04 00:00:00-05:00), (C, 2021-02-05 00:00:00-05:00), (C, 2021-02-08 00:00:00-05:00), (C, 2021-02-09 00:00:00-05:00), (C, 2021-02-10 00:00:00-05:00), (C, 2021-02-11 00:00:00-05:00), (C, 2021-02-12 00:00:00-05:00), (C, 2021-02-16 00:00:00-05:00), (C, 2021-02-17 00:00:00-05:00), (C, 2021-02-18 00:00:00-05:00), (C, 2021-02-19 00:00:00-05:00), (C, 2021-02-22 00:00:00-05:00), (C, 2021-02-23 00:00:00-05:00), (C, 2021-02-24 00:00:00-05:00), (C, 2021-02-25 00:00:00-05:00), (C, 2021-02-26 00:00:00-05:00), (C, 2021-03-01 00:00:00-05:00), (C, 2021-03-02 00:00:00-05:00), (C, 2021-03-03 00:00:00-05:00), (C, 2021-03-04 00:00:00-05:00), ...]

[427 rows x 0 columns]

In [55]:
# Create dictionary from y_pred and assign a 'n' to each of them for now as a placeholder.
buy_dict = dict.fromkeys(y_predes.index.get_level_values(0), 'n')
buy_dict

{'JPM': 'n',
 'C': 'n',
 'GS': 'n',
 'WF': 'n',
 'MS': 'n',
 'MSFT': 'n',
 'BAC': 'n'}

In [56]:
# Pull the total available equity in our account from the  Alpaca API
# YOUR CODE HERE
account = api.get_account()
total_capital = account.equity
total_capital

'99520.8'

In [57]:
# Compute capital per stock, divide equity in account by number of stocks
# Use Alpaca API to pull the equity in the account
if len(buy_dict) > 0:
    capital_per_stock = float(total_capital)/ len(buy_dict)
else:
    capital_per_stock = 0
print(f'Capital per stock: {capital_per_stock}')

Capital per stock: 14217.257142857143

In [58]:
# Use for loop to iterate through dictionary of buys 
# Determine the number stocks we need to buy for each ticker
for ticker in buy_dict:
    try:
        buy_dict[ticker] = int(capital_per_stock /int(prices[ticker].iloc[-1]['close']))
    except:
        pass

print(buy_dict)

{'JPM': 93, 'C': 197, 'GS': 43, 'WF': 526, 'MS': 179, 'MSFT': 57, 'BAC': 364}

In [59]:
# Cancel all previous orders in the Alpaca API
# YOUR CODE HERE
api.cancel_all_orders()
# Sell all currently held stocks to close all positions
# YOUR CODE HERE
api.close_all_positions()

[Position({   'body': {   'asset_class': 'us_equity',
                 'asset_id': '427a4248-e459-4be6-aa78-1105d355e109',
                 'canceled_at': None,
                 'client_order_id': 'ba311608-f119-402f-bd7e-9f1e226d2ec2',
                 'created_at': '2021-04-13T21:53:24.142498Z',
                 'expired_at': None,
                 'extended_hours': False,
                 'failed_at': None,
                 'filled_at': None,
                 'filled_avg_price': None,
                 'filled_qty': '0',
                 'hwm': None,
                 'id': 'c8a7af1b-dfe6-4e5b-b0dd-2b3cdf547510',
                 'legs': None,
                 'limit_price': None,
                 'notional': None,
                 'order_class': '',
                 'order_type': 'market',
                 'qty': '529',
                 'replaced_at': None,
                 'replaced_by': None,
                 'replaces': None,
                 'side': 'sell',
                 'status': 'accepted',
                 'stop_price': None,
                 'submitted_at': '2021-04-13T21:53:24.14035Z',
                 'symbol': 'WF',
                 'time_in_force': 'day',
                 'trail_percent': None,
                 'trail_price': None,
                 'type': 'market',
                 'updated_at': '2021-04-13T21:53:24.142498Z'},
     'status': 200,
     'symbol': 'WF'}),
 Position({   'body': {   'asset_class': 'us_equity',
                 'asset_id': 'b6d1aa75-5c9c-4353-a305-9e2caa1925ab',
                 'canceled_at': None,
                 'client_order_id': 'de327546-6570-46d7-a81a-5b10a303e4c2',
                 'created_at': '2021-04-13T21:53:24.156717Z',
                 'expired_at': None,
                 'extended_hours': False,
                 'failed_at': None,
                 'filled_at': None,
                 'filled_avg_price': None,
                 'filled_qty': '0',
                 'hwm': None,
                 'id': '85fd7a9b-47a1-40c5-bad0-759e3791db21',
                 'legs': None,
                 'limit_price': None,
                 'notional': None,
                 'order_class': '',
                 'order_type': 'market',
                 'qty': '57',
                 'replaced_at': None,
                 'replaced_by': None,
                 'replaces': None,
                 'side': 'sell',
                 'status': 'accepted',
                 'stop_price': None,
                 'submitted_at': '2021-04-13T21:53:24.154024Z',
                 'symbol': 'MSFT',
                 'time_in_force': 'day',
                 'trail_percent': None,
                 'trail_price': None,
                 'type': 'market',
                 'updated_at': '2021-04-13T21:53:24.156717Z'},
     'status': 200,
     'symbol': 'MSFT'}),
 Position({   'body': {   'asset_class': 'us_equity',
                 'asset_id': '1c2f8701-b8cb-40b6-902a-1e9a6a0c7bcf',
                 'canceled_at': None,
                 'client_order_id': 'ae30ee38-cedc-4fdd-a447-25a3754354b0',
                 'created_at': '2021-04-13T21:53:24.192149Z',
                 'expired_at': None,
                 'extended_hours': False,
                 'failed_at': None,
                 'filled_at': None,
                 'filled_avg_price': None,
                 'filled_qty': '0',
                 'hwm': None,
                 'id': 'b6c7a0dd-f053-4ae8-a1ef-b6c847a3d3d0',
                 'legs': None,
                 'limit_price': None,
                 'notional': None,
                 'order_class': '',
                 'order_type': 'market',
                 'qty': '180',
                 'replaced_at': None,
                 'replaced_by': None,
                 'replaces': None,
                 'side': 'sell',
                 'status': 'accepted',
                 'stop_price': None,
                 'submitted_at': '2021-04-13T21:53:24.189444Z',
                 'symbol': 'MS',
                 'time_in_force': 'day',
                 'trail_percent': None,
                 'trail_price': None,
                 'type': 'market',
                 'updated_at': '2021-04-13T21:53:24.192149Z'},
     'status': 200,
     'symbol': 'MS'}),
 Position({   'body': {   'asset_class': 'us_equity',
                 'asset_id': 'e3047683-637a-4fb2-b71d-805cd6fec95d',
                 'canceled_at': None,
                 'client_order_id': '45128ad0-3375-450c-b962-0623721b70f5',
                 'created_at': '2021-04-13T21:53:24.203883Z',
                 'expired_at': None,
                 'extended_hours': False,
                 'failed_at': None,
                 'filled_at': None,
                 'filled_avg_price': None,
                 'filled_qty': '0',
                 'hwm': None,
                 'id': '99a7dbe9-83d3-48a5-a2f9-cc50584e01a9',
                 'legs': None,
                 'limit_price': None,
                 'notional': None,
                 'order_class': '',
                 'order_type': 'market',
                 'qty': '93',
                 'replaced_at': None,
                 'replaced_by': None,
                 'replaces': None,
                 'side': 'sell',
                 'status': 'accepted',
                 'stop_price': None,
                 'submitted_at': '2021-04-13T21:53:24.201541Z',
                 'symbol': 'JPM',
                 'time_in_force': 'day',
                 'trail_percent': None,
                 'trail_price': None,
                 'type': 'market',
                 'updated_at': '2021-04-13T21:53:24.203883Z'},
     'status': 200,
     'symbol': 'JPM'}),
 Position({   'body': {   'asset_class': 'us_equity',
                 'asset_id': '064dd45f-7a58-452c-93f2-377f9a0cc7f2',
                 'canceled_at': None,
                 'client_order_id': '56e94cbe-b6f2-4a36-9e4e-ad00c9bc1c08',
                 'created_at': '2021-04-13T21:53:24.238457Z',
                 'expired_at': None,
                 'extended_hours': False,
                 'failed_at': None,
                 'filled_at': None,
                 'filled_avg_price': None,
                 'filled_qty': '0',
                 'hwm': None,
                 'id': '30b22158-c911-4f8e-ad13-c621c8aaa748',
                 'legs': None,
                 'limit_price': None,
                 'notional': None,
                 'order_class': '',
                 'order_type': 'market',
                 'qty': '43',
                 'replaced_at': None,
                 'replaced_by': None,
                 'replaces': None,
                 'side': 'sell',
                 'status': 'accepted',
                 'stop_price': None,
                 'submitted_at': '2021-04-13T21:53:24.236028Z',
                 'symbol': 'GS',
                 'time_in_force': 'day',
                 'trail_percent': None,
                 'trail_price': None,
                 'type': 'market',
                 'updated_at': '2021-04-13T21:53:24.238457Z'},
     'status': 200,
     'symbol': 'GS'}),
 Position({   'body': {   'asset_class': 'us_equity',
                 'asset_id': '36c8d04d-be51-476c-9382-0b6ea3bf1a26',
                 'canceled_at': None,
                 'client_order_id': '77047105-3cea-4617-8ac4-0b40f7cb63f5',
                 'created_at': '2021-04-13T21:53:24.248919Z',
                 'expired_at': None,
                 'extended_hours': False,
                 'failed_at': None,
                 'filled_at': None,
                 'filled_avg_price': None,
                 'filled_qty': '0',
                 'hwm': None,
                 'id': '228d98c0-acf7-4cd1-8b18-d84230238357',
                 'legs': None,
                 'limit_price': None,
                 'notional': None,
                 'order_class': '',
                 'order_type': 'market',
                 'qty': '198',
                 'replaced_at': None,
                 'replaced_by': None,
                 'replaces': None,
                 'side': 'sell',
                 'status': 'accepted',
                 'stop_price': None,
                 'submitted_at': '2021-04-13T21:53:24.246519Z',
                 'symbol': 'C',
                 'time_in_force': 'day',
                 'trail_percent': None,
                 'trail_price': None,
                 'type': 'market',
                 'updated_at': '2021-04-13T21:53:24.248919Z'},
     'status': 200,
     'symbol': 'C'}),
 Position({   'body': {   'asset_class': 'us_equity',
                 'asset_id': '061588a3-d70b-4b9c-a3f6-636aaa16acc4',
                 'canceled_at': None,
                 'client_order_id': '220c9305-d567-4c24-a7ac-98bebc8848fe',
                 'created_at': '2021-04-13T21:53:24.284668Z',
                 'expired_at': None,
                 'extended_hours': False,
                 'failed_at': None,
                 'filled_at': None,
                 'filled_avg_price': None,
                 'filled_qty': '0',
                 'hwm': None,
                 'id': '3abf3ba0-c819-4eaa-adf9-f16bbe4d5bf8',
                 'legs': None,
                 'limit_price': None,
                 'notional': None,
                 'order_class': '',
                 'order_type': 'market',
                 'qty': '366',
                 'replaced_at': None,
                 'replaced_by': None,
                 'replaces': None,
                 'side': 'sell',
                 'status': 'accepted',
                 'stop_price': None,
                 'submitted_at': '2021-04-13T21:53:24.282328Z',
                 'symbol': 'BAC',
                 'time_in_force': 'day',
                 'trail_percent': None,
                 'trail_price': None,
                 'type': 'market',
                 'updated_at': '2021-04-13T21:53:24.284668Z'},
     'status': 200,
     'symbol': 'BAC'})]

In [60]:
# Iterate through the longlist object and send a buy order for each ticker with a corresponding number of shares:
# YOUR CODE HERE

for ticker ,shares in buy_dict.items():
    print("buying " + ticker + "shares " + str(shares))
    if shares > 0:
        api.submit_order(ticker, side = 'buy', qty=shares, type = 'market', time_in_force='gtc')

buying JPMshares 93
buying Cshares 197
buying GSshares 43
buying WFshares 526
buying MSshares 179
buying MSFTshares 57
buying BACshares 364

In [65]:
# Add all of the steps conducted above into the function trade
def trade():

    ticker_list = ['JPM','C','GS','WF', 'MS', 'MSFT', 'BAC']
    # Notice that we remove the start and end variables since we want the latest prices.
    timeframe='1Day'
    # Use iloc to get the last 10 mins every time we pull new data
    prices = api.get_barset(ticker_list, "day").df
    prices.ffill(inplace=True)   

    # Create and empty DataFrame for closing prices
    df_closing_prices = pd.DataFrame()

    # Fetch the closing prices of our tickers
    df_closing_prices["JPM"] = prices["JPM"]["close"]
    df_closing_prices["C"] = prices["C"]["close"]
    df_closing_prices["GS"] = prices["GS"]["close"]
    df_closing_prices["WF"] = prices["WF"]["close"]
    df_closing_prices["MS"] = prices["MS"]["close"]
    df_closing_prices['MSFT'] = prices['MSFT']["close"]
    df_closing_prices['BAC'] = prices['BAC']["close"]
    print(df_closing_prices.head())
    
    # Loop through momentums to build new DataFrame
    list_of_momentums = [1]
    for i in list_of_momentums:   
        returns_temp = df_closing_prices.pct_change(i)
        returns_temp = pd.DataFrame(returns_temp.unstack())
        name = f'{i}_day_returns'
        returns_temp.rename(columns={0: name}, inplace = True)
        returns_temp.reset_index(inplace = True)
        if i ==1:
            returns = returns_temp
        else:
            returns = pd.merge(returns,returns_temp,left_on=['level_0', 'time'],right_on=['level_0', 'time'], how='left', suffixes=('_original', 'right'))

    # Drop nulls and set index            
    returns.dropna(axis=0, how='any', inplace=True)
    returns.set_index(['level_0', 'time'], inplace=True)

    # Preprocess data for model
    # YOUR CODE HERE
    X = returns
    y_pred = joblib_model.predict(X)
    y_pred = pd.DataFrame(y_pred, index=X.index)
    y_pred.rename(columns={0: 'buy'}, inplace = True)
    
    y_pred = y_pred[y_pred['buy']==1]

    # Create the `buy_dict` object
    # YOUR CODE HERE

    for ticker in buy_dict:
        try:
            buy_dict[ticker] = int(capital_per_stock /int(prices[ticker].iloc[-1]['close']))
        except:
            pass

    print(buy_dict)
    # Split capital between stocks and determine buy or sell
    # YOUR CODE HERE
    if len(buy_dict) > 0:
        capital_per_stock = float(total_capital)/ len(buy_dict)
    else:
        capital_per_stock = 0
    print(f'Capital per stock: {capital_per_stock}')
    
    # Cancel pending orders and close positions
    # YOUR CODE HERE
    
    api.cancel_all_orders()

    # YOUR CODE HERE
    api.close_all_positions()
    
    print(buy_dict)
    # Submit orders
    # YOUR CODE HERE
    for ticker, shares in buy_dict.items():
        print("buying " + ticker + "shares " + str(shares))
        if shares > 0:
            api.submit_order(ticker, side = 'buy', qty=shares, type = 'market', time_in_force='gtc')

In [66]:
# Import Python's schedule module 
# YOUR CODE HERE
import schedule

In [67]:
trade()

                              JPM       C      GS      WF     MS    MSFT  \
time
2020-11-17 00:00:00-05:00  116.15  50.745  224.72  26.810  58.81  214.47
2020-11-18 00:00:00-05:00  115.25  51.050  224.30  27.215  58.80  210.97
2020-11-19 00:00:00-05:00  115.56  52.130  224.57  26.750  58.62  212.31
2020-11-20 00:00:00-05:00  114.60  51.640  223.22  26.960  57.82  210.34
2020-11-23 00:00:00-05:00  117.86  53.290  228.83  27.370  60.26  210.09

                              BAC
time
2020-11-17 00:00:00-05:00  27.550
2020-11-18 00:00:00-05:00  26.975
2020-11-19 00:00:00-05:00  26.970
2020-11-20 00:00:00-05:00  26.810
2020-11-23 00:00:00-05:00  27.390
{'JPM': 93, 'C': 197, 'GS': 43, 'WF': 526, 'MS': 179, 'MSFT': 57, 'BAC': 364}
Capital per stock: 14217.257142857143
{'JPM': 93, 'C': 197, 'GS': 43, 'WF': 526, 'MS': 179, 'MSFT': 57, 'BAC': 364}
buying JPMshares 93
buying Cshares 197
buying GSshares 43
buying WFshares 526
buying MSshares 179
buying MSFTshares 57
buying BACshares 364

In [64]:
# Clear the schedule
# YOUR CODE HERE
schedule.clear()
# Define a schedule to run the trade function every minute at 5 seconds past the minute mark (e.g. 10:31:05)
# YOUR CODE HERE
schedule.every().day.do(trade)
# Use the Alpaca API to check whether the market is open
# YOUR CODE HERE
clock = api.get_clock().is_open

# Use run_pending() function inside schedule to execute the schedule you defined as long as the market is open
# YOUR CODE HERE
while clock==True:
    schedule.run_pending()